[submodule "vendor/active_document"]
	path = vendor/active_document
	url = /Users/attilacsiszar/gitish/active_document
[submodule "vendor/rack"]
	path = vendor/rack
	url = git://github.com/rack/rack.git
