[submodule "vendor/active_document"]
	path = vendor/active_document
	url = git://github.com/csiszarattila/active_document.git
[submodule "vendor/rack"]
	path = vendor/rack
	url = git://github.com/rack/rack.git
[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/sinatra/sinatra.git
