!!!Strict
%head
  %title Rubysztán
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  %meta{:name=>"description", :value=>"Cikkek a Ruby programozási nyelvről, nemcsak webfejlesztéssel kapcsolatban."}
  %link{:href=>@site_url + "/stylesheets/rubysztan.css", :rel=>"stylesheet", :type=>"text/css", :media=>"screen"}
  =rss_link(:title=>"Cikkek hírcsatornája")
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1524576-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
%body
  #content
    #navigation
      %a{:href=>"http://csiszarattila.com"} csiszarattila.com 
      \/
      %a{:href=>"/rubysztan/"}Rubysztán
      -if @document
        \/
        = @document.title.scan(/./u)[0,15] << "..."
    #body
      = yield
    #legal-notes
      %p
        %img{:src=>"/images/rss.gif", :style=>"vertical-align:middle"}
        %a{:href=>rss_url, :rel=>"alternate", :type=>"application/rss+xml"} Bejegyzések és cikkek RSS-e.
      #about-me
        %h4 A szerzőről
        %img{:src=>"/images/portre.jpg"}
        %p
          A Rubysztán blog
          %a{:href=>"http://csiszarattila.com/rolam"}Csiszár Attila
          agyszüleménye, aki a mindennapokban PHP fejlesztőként tevékenykedik.
          A Ruby nyelvvel közel egy éve került közelebbi kapcsolatba, amikor is úgy döntött
          %a{:href=>"http://szakdolgozat.csiszarattila.com"}szakdolgozatát ebből publikálja.
          A nyelv rögtön elvarázsolta, és azóta amikor szabadidejében számítógép elé ül csak ezzel szeret foglalkozni.
          A közben szerzett élményekből és tapasztalatokból táplálkozik a Rubysztán blg.
      #contact
        %h4 Kontakt
        %p
          Amennyiben bármilyen kérdésed lenne fordulj hozzám bizalommal, az
          %a{:href=>"http://csiszarattila.com/kapcsolat"}elérhetőségeimet itt találod.
        %p Email: csiszar.ati@gmail.com      
      #blog-engine
        %h4 Powered by Mini
        %p
          Az oldalt egy saját fejlesztésű blogmotor, a Mini szolgálja ki, amely Ruby nyelven,
          %a{:href=>"http://www.sinatrarb.com/"}Sinatra keretrendszerben,
          az ActiveDocument felhasználásával íródott.
      #legal
        %h4 &copy;2008-2009 Csiszár Attila
        %p Az oldalon található tartalmakra a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/hu/">Creative Commons Nevezd meg!-Ne add el!-Így add tovább! 2.5 Magyarország License</a> vonatkozik.
        %p Azaz semmiben sem korlátozlak az itt található tartalmak felhasználásában és továbbközlésében, amennyiben a megfelelő módon feltüntetsz, mint szerzőt.

