---
id: 13
author: Csiszár Attila
title: Blogmotor kevesebb, mint 150 kódsorban
created_at: 2009-03-28
---

%p Amióta <a href="http://www.sinatrarb.com">Sinatrázom</a> foglalkoztatott egy projekt gondolata: vajon legkevesebb hány kódsorból lehetne egy alapfunkciójú blogmotort írni?

%p Az alapfunkciókon a következőket értem: bejegyzések hozzáadása/módosítása/törlése, kommentelés lehetősége, RSS a bejegyzésekről. A cél mindezt, a HTML kódokkal együtt, egy fájlban (!) megvalósítani, a lehető legkevesebb kódsorral!

%p Ma reggel bele is vágtam, és gyorsan sikerült is az elképzelt funkciókat megvalósítani. Első célként 100 kódsort jelöltem meg - és itt jól formázott kódot értek, nem egymásra tolt definíciókat. Hamar kiderült azonban, hogy ezt nem sikerül tartani a nézetek HTML kódjai miatt, a Haml használta ellenére. A következő határt, a 150 kódsort már bőven sikerült tartani, és végül 137 sorban sikerült is megállni.

%p 
  %a{:href=>"http://github.com/csiszarattila/wakeup/blob/98f1fd17dc088d4404216d7d037a464db689cb55/wakeup.rb"} Az elkészült művet, illetve próbálkozást itt nézhetitek meg.

%p A bejegyzést vehetitek felhívásnak is! Várom mások próbálkozásait is: írjatok hasonló funkciójú blogot bármiben, a lehető legkevesebb kóddal! Így legalább én is törhetem a fejem azon, hol lehetne még faragni a saját kódomból:)