---
id: 18
author: Csiszár Attila
title: Az első hetek munkában
created_at: 2009-06-10
---

Elég rég született beírás a blogomban, amelynek számos oka volt, de legfőképp az, hogy az elmúlt hónapokban a legtöbb időmet a munkahelykeresés töltötte ki. Hát bizony ezzel a témával is megtölthetnék  jónéhány sort, de nem teszem, mivel jópár hónapnyi keresgélés után végül is sikerült elhelyezkednem.

Jónéhány munkalehetőség után a legfontosabb, hogy végül azon a területen belül kötöttem ki, amelyet leginkább szeretek - azaz maradtam a webfejlesztésnél. Nem rossz érzés, hogy mindazért amit eddig a kedvtelésből, szabadidőmben végeztem mostantól fizetést is kapok - persze azért ez jónéhány kompromisszummal is együtt jár, így például nem mindig jut idő egy érdekesnek tűnő téma körüljárására.

Az első napokban elég nehezen viseltem a 8 órás munkaidőt, a középiskola óta bizony nem kellett ennyi időt egy feladatra koncentrálva eltölteni.

A feladatok nem rosszak, ahol dolgozom igazán komoly fejlesztésekben, nagy méretű projektekben vehetek részt, ráadásul elég komoly feladatokat osztanak ki rám. Ezenfelül a munkalégkör is nagyon jó, inkább családias a hangulat köszönhetően a kis létszámnak.

A fejlesztéseink alapvetően PHP-ben és Zend keretrendszerben történnek, ami nagyban hasonlít a Rails keretrendszerre így nem okoz különösebb gondot a használata. A mindennapok során egyre nagyobb hasznát látom a Rails+Ruby párossal eltöltött fél évnek - sok ötletet és fejlesztési alapelvet át tudok menteni, amelyeket igyekszek a kollégáknak is átadni - szerencsére sok dologban gondolkodunk közösen, és a javaslataimat a feletteseim is meghallgatják. Remélem ezek az ötletek a jövőben beépülnek a munkarendszerünkbe, és hatékonyabbá és élvezetesebbé teszik majd a fejlesztést.

További pozitívum, legalábbis számomra, hogy végül Szegeden kötöttem ki, és nem kellett a fővárosba költözni. Lehet, hogy ezt sokan furcsának találják, de az elmúlt hónapokban jónéhányszor jártam Budapesten értek pozitív és negatív élmények de összeségében mindig ott valami rossz érzés bennem, ha az ottani munkavállalásra gondoltam. Szeged ezzel szemben nagyon kellemes hely és igazán élhető város.
