---
id: 20
author: Csiszár Attila
title: Hosszú szünet után...
created_at: 2009-11-04
---

%p Hosszú szünet után jelentkezek ismét bejegyzéssel. Sorolhatnám persze az okokat, hogy miért nem de most nem ezért ragadtam billentyűzetet, sokkal inkább nézzük a fejleményeket.

%p Legfontosabb, hogy mostantól főállású webprogramozóként dolgozom, ugyan Ruby helyett PHP-ban, de érdekesek a feladatok, emellett főként <a href="http://framework.zend.com/">Zend Framework</a>-öt használunk, amely egy remekül felépített MVC keretrendszer.

%p Emellett persze igyekszem nem elszakadni a Rubytól se, egy kis idő mindig akad egy-egy érdekesebbs témára. Az utóbbi időben főként tesztelési eljárásokkal ismerkedtem - <a href="http://pragprog.com/titles/achbd/the-rspec-book">RSpec és barátai</a> - amelyekről terveim szerint hamarosan egy bejegyzés is születik majd, a próbálkozásokból ezenfelül két hobbiprojekt is született.

%p Az <a href="http://github.com/csiszarattila/active_document">ActiveDocument</a> egy régóta tervezgetett ötlet volt: filekezelés kicsit másképp, az ActiveRecord mintájára. A koncepció onnan eredt, hogy annak idején adatbázis helyett sima text fájlokban szerettem volna tárolni a blogbejegyzéseimet - mivel így sokkal könnyebb a szerkesztésük/kezelésünk - majd. Ennek egy kivonataként, önálló libraryként született meg az elmúlt hónapokban apródonként ActiveRecord. Példákat és a pontos használatot megtaláljátok a <a href="http://github.com/csiszarattila/active_document">projekt Github oldalán</a>.

%p A másik Rubys projekt a Rubysztán blog alapjainak az újraírása volt: átültetni az ActiveRecord libraryra, részletesebb teszteléssel, letisztultabb működéssel, amellyel együtt egy általános célú blogmotor jött létre. Ennek a <a href="http://github.com/csiszarattila/mini">Mini</a> nevet adtam, Githubon szintén elérhető.

%p Hosszú kihagyás után mindez kevésnek tűnhet, de igérem mostantól igyekszem érdekes tartalommal feltölteni az oldalt.