---
id: 14
author: Csiszár Attila
title: Nyelvtanulás pusztán kedvtelésből?
created_at: 2009-04-16
---

%p Az utóbbi időben egyre gyakrabban kerül szóba a nyelvismeret (álláskeresés miatt többek között), ami jó apropó, hogy erről is írjak...régóta terveztem már ezt a témát. Pontosabban nem is a nyelvismeretről, hanem a nyelvtanulásról lesz szó.

%p Azt, hogy az iskolákban kritikán aluli a nyelvoktatás magamon tapasztaltam: 11 évnyi iskolapad koptatás után döntöttem úgy, hogy elegem van, én ezt magam is megtanulhatom.

%p Szerencsémre addigra már elég jó szókinccsel rendelkeztem: két évnyi intenzív fordítgatás után olyan szintre kerültem, hogy bármilyen angol szöveggel megbírkóztam, a tartalmát megértettem. És ekkor ért az első meglepetés: az első néhány nyelvkönyvet a kezembe véve elkezdtem megérteni a korábban érthetetlennek tűnő nyelvtani szerkezeteket, szabályokat és a magam ritmusában sikerült apránként magamba szívnom. Olyananyira, hogy jó félvére rá sikeres nyelvvizsgát tettem, elsőre átmentem!

%p Ezzel még magamat is sikerült meglepnem, hiszem jó két évvel korábban még meg voltam győződve róla - az iskolában ezt éreztették velem, hogy én soha nem fogok elégséges szintre eljutni angolból! Ekkor döbbentem rá a saját tapasztalataim útján, hogy nem a diákokkal, hanem legfőképp a tanítási módszerekkel van a gond.

%p Nálam így működött: elsőként találj egy neked érdekesnek tűnő témát(nekem a Forma 1 volt az) és kezdj el az adott nyelven olvasgatni, fordítani belőle. Meglátod nagyon gyorsan iszonyatos szókincsre teszel szert...a szótárból való tanulást felejsd el, azok a szavak nem fognak megmaradni. A nyelvtant jó félév, év után párhuzamosan kezd el tanulni, és inkább a magad, mint egy könyv ritmusában - például, ha nem értesz egy nyelvtani szerkezetet nézz utána! Próbálj meg minél több módon az adott nyelvvel kapcsolatba kerülni ...hírportálok, újságok olvasása, filmek, zenék, rádiók hallgatása... az internet és a web szinte mindent a kezünkbe ad, csak jól kell tudni kihasználni. És ha már sikeresen teljesítetted a nyelvvizsgád akkor se add fel a dolgot, folytasd a tanulást... én még három évvel a nyelvvizsga után is úgy érzem bőven van még hova fejlődnöm. Mindezt nem önfényezésből, hanem tanulságként szeretném megosztani, hogy mások is okuljanak a dologból: a nyelvtanulás nem misztikum, sőt lehet ezt élvezetesen is csinálni a lényeg a megfelelő módszer megtalálásában rejlik meg persze kell hozzá egy nagy adag kitartás is.

%p És azt, hogy ez a módszer helyes többek közt az is bizonyítja, hogy a családon belül is sikerült továbbadnom, és már látszanak az eredményei.

%p Másrészt érdekelne, hogy Ti hogyan tanultok nyelveket, hogyan tartjátok napi szinten a tudásotokat?

%p Én első körben angolosoknak nagyon tudom ajánlani a <a href="http://www.bbc.co.uk/worldservice/learningenglish/">BCC Learning English szekcióját</a>, rendkívül hasznos!